<div class="container">
  <h2>Bill Reminder</h2>

  <form (ngSubmit)="addReminder()">
    <label for="title">Bill Title:</label>
    <input id="title" [(ngModel)]="billTitle" name="billTitle" required />

    <label for="date">Due Date:</label>
    <input id="date" type="date" [(ngModel)]="billDate" name="billDate" required />

    <label for="amount">Due Date:</label>
    <input id="amount" [(ngModel)]="billAmount" name="billAmount" required />

    <button type="submit">Add Reminder</button>
  </form>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>Bill Title</th>
        <th>Due Date</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of billReminders">
        <td>{{ bill.title }}</td>
        <td>{{ bill.date | date:'longDate' }}</td>
        <td>{{ bill.amount }}</td>
      </tr>
    </tbody>
  </table>
  
</div>